  .blue {
    background-color: #00b4ff;
    border-style: none;
    height: 2px;
  }

  .image1 {
    margin-right: 5px;
  }
  .image2 {
    margin-left:0;
    margin-top:0;
  }
  .SepHR {
    margin-top: 0;
  }

  .listSetting {
    width: 72%;
  }

  .ListSeparation1 {
    padding-bottom: 2px;
  }
